.container {
  /* border: solid green 1px; */
  width: 550px;
  display: center;
  align-items: center;
}

.title{
  height: 40px;
  width: 500px;
  border: solid rgb(0, 128, 124) 1.5px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.content{
  height: 80px;
  width: 500px;
  border: solid rgb(0, 128, 124) 1.5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
}

