.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.venue_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-self:center;
  gap:30px 50px;
  margin: auto;
  padding: 50px 0px;
}

h1{
  color:#000;
  font-size: 3em;
}

p{
  color:#000;
}

.container > p {
  margin: 8px;
}
