.reviewCard{
  border: solid 5px #76bdab;
  background-color: #f6e0bc;
  padding: 10px;
  height: auto;
  width: 500px;
  border-radius: 20px;
  margin: 10px;
}

.reviewCard h2{
  color: #df6d29;
  font-size: 24px;
  text-shadow: 1px 1px 1px rgb(45, 24, 4);
}

.buttons{
  display: flex;
  justify-content:flex-end; 
  align-items: center; /* Center vertically */
}

.buttons button{
padding: 10px;
width: 30px;
height: 30px;
margin: 3px;
background-color: #e7ad56;
/* border: solid 1px red; */
/* height: 40px; */
}