.editForumContainer h1{
  font-family: fredoka;
  color:#df6d29;
}
.editProfileForm{
  background-color: #e95703c4;

  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  color: rgb(0, 0, 0);
  width: 800px;
  height: 600px;
  flex-direction: column;
  border-radius: 20px;
  font-family: fredoka;
  font-style: bold;
  font-size: 24px;
}

.editForumContainer{
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2376bdab' fill-opacity='0.75'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.forumRow{
  margin: 10px;
  padding: 0.625rem;
  width: 400px;
}

.forumRowAboutMe input{
  margin: 10px;
  padding: 0.625rem;
  height: 200px;
  width: 400px;
  
}

.forumRowSkills input{
  margin: 10px;
  padding: 0.625rem;
  height: 100px;
  width: 400px;
  size: 20;
}


