.editForumContainer h1{
  font-family: fredoka;
  color:#76bdab;
  text-shadow: 1px 1px 2px rgb(30, 12, 3);
  font-size: 56px;
}
.editProfileForm{
  background-color: #f8eae2ea;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  color: rgb(0, 0, 0);
  width: 800px;
  height: 600px;
  flex-direction: column;
  border-radius: 20px;
  font-family: fredoka;
  font-style: bold;
  font-size: 24px;
  padding: 40px;
}

.editForumContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
}

.forumRow{
  margin: 10px;
  padding: 0.625rem;
  width: 400px;
}

.forumRowAboutMe input{
  margin: 10px;
  padding: 0.625rem;
  height: 200px;
  width: 400px;
  vertical-align: top; /* Align text to the top left */
  overflow-wrap: break-word; /* Enable text wrapping */
}

.forumRowSkills input{
  margin: 10px;
  padding: 0.625rem;
  height: 100px;
  width: 400px;
  size: 20;
}

input{
  vertical-align: top; /* Align text to the top left */
  overflow-wrap: break-word; /* Enable text wrapping */
}

.submit{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  overflow: hidden;
}

