.allReviews{
  border: pink solid 4px
}

.allReviews{
  margin: 4px, 4px;
  padding: 4px;
  background-color: rgb(156, 203, 156);
  width: 525px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
