.card{
  display: flex;
  flex-direction: column;
  margin: 16px;  
  min-width: 500px;
  background-color: white;
  color: var(--mentor-color);  
  border:2px solid white;
  border-radius:20px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.content{
  height: 40%;
  padding: 8px;
}

.Post-title{
  font-size: x-large;
  font-weight: 700;
  padding: 4px;
  background-color: var(--mentor-color);
  color: var(--cream);
}

.image-crop{  
  background-color: var(--cream);
  height:200px;
  width: 100%;
  border-radius:20px 20px 0px 0px;
  img{
    height:200px;
    width: auto;
    margin: auto;
  }
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.top-form{
  display: flex;
  justify-content: space-between;
}

.input-fee{
  margin: 2px 0;
}

.input-message{  
  width: 100%;
  height: 100px;
  overflow-y:auto;  
  border-radius: 30px;
  border: 2px solid #4e9281;
  padding:10px;
}

.button{
  background-color: var(--cream);
  color: white;
  margin:2px;
  width: fit-content;
  height: fit-content;  
  padding: 8px;
}

.location{
  font-weight: 700;
}

.bid-title{
  font-size: x-large;
  font-weight: 600;
  margin: 4px 0;
}

.bids{
  background-color: white;
  width: 100%;
  height: 100px;
  padding: 8px 4px;
  border-radius: 8px;
  overflow-y:auto
}

.bid{
  background-color: var(--student-color);
  padding: 8px;
  margin: 4px 0;
  border-radius: 8px;
  max-width: 480px;
  font-weight: 600;
}

.student{
  background-color: var(--student-color);
  color: var(--mentor-color);
}

.buttons{
  display: flex;
}

.details{
  background-color: var(--mentor-color);
}

.message{
  height: 100px;
  overflow-y:auto; 
}