.card{
  display: flex;
  flex-direction: column;
  background-color: #64663e;
  height: 250px;
  padding:8px;
  border-radius: 8px ;
  margin:8px;  
  text-decoration: none;
  color: white;
}

#signUpButton{
  display: flex;
  justify-content: right;
  margin-top: auto;
}