main.container{
  max-width: 80vw; /*fix me*/
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

button{  
  background-color: var(--mentor-color);
  margin: 0px;
  font-weight: 600;
}

.button-container{
  height: auto;
  display: flex;
  align-items: flex-end;
}

.titleBar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.title{
  color: var(--mentor-color);
  font-size: xx-large;
  font-weight: 800;
  margin: 0 8px;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}