.profile-card{
  /* color: rgb(139, 228, 101); */
  border: white solid 2px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.profile-picture{
  border: white solid 2px;
  width: 150px;
  height: 2000px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  overflow: hidden;
  margin: 15px;
  margin-bottom: 5px;
}

img{
  width: 150px;
  height: 150px;
  display: block;
  object-fit: cover;
}


.profile-info{
  text-align: center;
  border: red 1px solid;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 32px;
}

.name{
  font-size: 24px;
  color: orange;
  border: solid green 1px
}

.socials{
  font-size: 16px;
  color: rgb(170, 0, 255);
  border: solid green 1px
}

.profile-about-me{
  /* border: pink 1px solid; */
  height: 2000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
}