.profileCard{
  border: #76bdab solid 3px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  /* background-image: url("https://i.imgur.com/WtCYhHE.png"); */
  background-color: rgb(247, 179, 115);
}

.profilePicture{
  border: #df6d29 solid 2px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  overflow: hidden;
  margin: 15px;
  margin-bottom: 0px;
}

img{
  /* width: 150px;
  height: 150px; */
  display: block;
  object-fit: cover;
  background-color: azure;
}

.centerImg{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid black 1px; */
  height: 150px;
}

.profileName{
  text-align: center;
  font-family: fredoka;
  color: rgb(5, 206, 206);
  font-size: 36px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  text-shadow: 1px 1px 2px rgb(76, 55, 58);
}

.name{
  font-size: 24px;
  color: orange;
  border: solid green 1px
}

/* .profileAboutMe{
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

.tagsBar{
  color: rgb(108, 49, 17);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
