:root {
  --vendor-color: #76bdab;
  --student-color: #fbc043;
  --mentor-color: #df6d29;
  --cream: #ffd9bc;
}
.nav_container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 350px;
  background-color: #76bdab;
  background-color: #76bdab;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23bce0d7' fill-opacity='0.07'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav_welcome{
  display:flex;
  flex-direction: column;
  gap:20px;
  justify-content: space-evenly;
  align-items: center;
  h2{
    text-align: center;
  }
}

.logo{
  margin: 30px 0px;
  height:150px;
  width: auto;
  background: var(--cream);
  border-radius: 100px;
  padding: 20px 40px;
  border: solid 2px #df6d29;
}

h2.welcome_name{
  padding: 10px 30px;
  background-color: var(--cream);
  border-radius: 30px;
  font-size: 1.25em;
  color: #000;
}

ul{
  list-style: none;
  text-align: center;
  font-weight: medium;
}

a.nav_link:hover{

  background-color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 600;
}

a:hover{
  /* */
}

li,a, a:visited{
  margin: 30px 0 !important;
  color:#000000 !important;
  font-size: 1.05em;
}


