.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.label{
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 4px;
}

.input{  
  display: flex;
  align-items: center;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100px;
  border: none;
  border-radius: 8px;
}

.submit{
  display: flex;
  justify-content: center;
  margin: 8px;
}

#description{  
  margin:0px;
  margin-left: 16px;
  padding: 4px 8px;
  width: 300px;
  height: 75px;
}